<main>
  <h3>Список сторінок</h3>
  <div class='mb-4'>Тут вам потрібно написати інформацію про
    ваA проєкт. Поки що можна написати будь-який текст</div>
  <h2 class='mb-4'>Html Practice page</h2>
  <div class='row'>
    {{#each Html}}
      <div class='col-2 mb-3'>
        <a
          class='btn btn-primary'
          href='{{link}}'
        >{{text}}</a>
      </div>
    {{/each}}
  </div>
  <hr class='mb-5 mt-5' />

  <h2 class='mb-4'>Bootstrap Practice page</h2>
  <div class='row'>
    {{#each bootstrap}}
      <div class='col-2 mb-3'>
        <a
          class='btn btn-primary'
          href='{{link}}'
        >{{text}}</a>
      </div>
    {{/each}}
  </div>
  <hr class='mb-5 mt-5' />

</main>